<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <img class="audiLogo" src="{{ brandLogo }}" alt="Logo {{ brand }}" />
    </div>
    <div class="col-6 p-5 text-dark">
      <h1>Le nostre auto {{ brand }}</h1>
    </div>
  </div>
  <div class="row mt-5">
    <div
      class="col-12 d-flex justify-content-center mb-3"
      *ngFor="let auto of auto"
    >
      <div
        class="card"
        style="width: 100%"
        [ngClass]="{
          'bg-success': auto.available,
          'bg-danger': !auto.available
        }"
      >
        <img
          src="{{ auto.modelImage }}"
          class="card-img-top"
          alt="{{ auto.brand }} {{ auto.model }}"
        />
        <div class="card-body">
          <h5 class="card-title h2">{{ auto.brand }} {{ auto.model }}</h5>
          <p class="card-text h4">
            <span class="badge bg-primary me-1 text-uppercase"
              >Anno: {{ auto.year }}</span
            >
            <span class="badge bg-primary me-1 text-uppercase"
              >Prezzo: {{ auto.price }} $</span
            >
            <span
              *ngIf="auto.available; else elseSpan"
              class="badge bg-primary me-1 text-uppercase"
              >Pronta consegna: sì</span
            >
            <ng-template #elseSpan>
              <span class="badge bg-primary me-1 text-uppercase"
                >Pronta consegna: no</span
              >
            </ng-template>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
