.img-fluid{
  width:30%


}
.card-img-top{
  height:180px;
object-fit: cover;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  transition: transform 0.3s;
}

.card:hover img {
  transform: scale(1.1);
}
